<%- include('./partials/header')-%>

<script defer src="/room.js"></script>
</head>

<body>

    <div id="video-grid"></div>
    <input type="hidden" id="roomId" value="<%= roomId%>">
    <input type="hidden" id="userId" value="<%= userId%>">
</body>

</html>